<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if (!orders.length) { %>
        <main>
            <h1>Nothing there!</h1>
        </main>
        <% } else { %>
            <div>
               <h3>Your Order Details</h3> 
               <div>
                <% orders.forEach(order => { %>
                    <ul>
                        <% order.items.forEach(product => { %>
                            <li><%= product.title %> (<%= product.quantity %>)</li>
                        <% }) %>
                        
                    </ul>
                    <% }) %>
               </div>
            </div>
            <% } %>
        <%- include('../includes/end.ejs') %>